@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.2s linear;
}

:root {
  --black: #2c2c54;
  --orange: #ff9f1a;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

section,
footer {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  color: var(--black);
  padding: 1rem;
}

.heading span {
  text-transform: uppercase;
  color: var(--orange);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--black);
  font-weight: bolder;
  font-size: 1.7rem;
  color: var(--black);
  cursor: pointer;
  background: #fff;
  padding: 0.8rem 3rem;
}

.btn:hover {
  background: var(--orange);
  color: #fff;
}

/* header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.logo {
  font-size: 2.5rem;
  color: var(--black);
}

.navbar a {
  font-size: 1.7rem;
  color: var(--black);
  margin: 0 1rem;
}

.navbar a:hover {
  color: var(--orange);
}

.icons a {
  font-size: 2.5rem;
  color: var(--black);
  margin-left: 1.5rem;
}

.icons a:hover {
  color: var(--orange);
}

.menu__bar {
  font-size: 2.5rem;
  padding: 0.5rem 1.5rem;
  border: 0.1rem solid var(--black);
  color: var(--black);
  border-radius: 0.3rem;
  cursor: pointer;
  display: none;
}

/* home */

.home {
  padding: 0;
  position: relative;
}

.home.slide__container.slide {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0 9%;
  padding-top: 9rem;
}

.slide {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
  padding: 0 9%;
  padding-top: 9rem;
  padding: 9rem 9% 0;
}

.content {
  flex: 1 1 40rem;
  animation: slideContent 0.5s linear 1s backwards;
}

@keyframes slideContent {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
}

.images {
  flex: 1 1 50rem;
  padding-bottom: 15rem;
  position: relative;
  z-index: 0;
}

.shoe {
  width: 100%;
  transform: rotate(-35deg);
  animation: shoe 0.3s linear;
}

@keyframes shoe {
  0% {
    transform: rotate(0deg) scale(0.5);
  }
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  animation: shoeText 0.5s linear 0.5s backwards;
}

@keyframes shoeText {
  0% {
    opacity: 0;
    top: -10rem;
  }
}

.content span {
  font-size: 2rem;
  color: var(--orange);
}

.content h3 {
  font-size: 5rem;
  color: var(--black);
}

.content p {
  font-size: 1.7rem;
  color: #666;
  padding: 5rem 0;
}

.slide__container:nth-child(1) .slide {
  background: url("../images/home-bg-1.jpg");
  background-size: cover;
  background-position: center;
}

.slide__container:nth-child(2) .slide {
  background: url("../images/home-bg-2.jpg");
  background-size: cover;
  background-position: center;
}

.slide__container:nth-child(3) .slide {
  background: url("../images/home-bg-3.jpg");
  background-size: cover;
  background-position: center;
}

.slide__container {
  display: none;
}

.active {
  display: block;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  z-index: 100;
  height: 5rem;
  width: 5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  color: var(--black);
  border: 0.2rem solid var(--black);
  cursor: pointer;
  text-align: center;
}

.prev:hover,
.next:hover {
  color: #fff;
  background: var(--orange);
}

.prev {
  left: 3rem;
}

.next {
  right: 3rem;
}

/* service */

.service .box__container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  background: #f9f9f9;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 2rem;
}

.service .box__container .box {
  text-align: center;
  flex: 1 1 30rem;
}

.service .box__container .box i {
  font-size: 4rem;
  color: var(--orange);
}

.service .box__container .box h3 {
  font-size: 2rem;
  color: var(--black);
  padding-top: 1rem;
}

.service .box__container .box p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}

/* products */

.products .box__container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.products .box__container .box {
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: #f9f9f9;
  flex: 1 1 30rem;
}

.products .box__container .box .content {
  padding: 1.5rem;
}

.products .box__container .box img {
  height: 10rem;
  transform: rotate(-35deg);
  filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.1));
  margin: 8rem 2rem;
}

.products .box__container .box:hover img {
  transform: rotate(-35deg) scale(1.2);
}

.products .box__container .box .icon {
  display: flex;
  flex-flow: column;
  position: absolute;
  top: 0.5rem;
  left: -10rem;
}

.products .box__container .box:hover .icon {
  left: 1rem;
}

.products .box__container .box .icon a {
  height: 4.5rem;
  width: 5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  color: var(--black);
  border: 0.1rem solid var(--black);
  border-radius: 0.5rem;
  background: #fff;
  margin-top: 0.5rem;
}

.products .box__container .box .icon a:hover {
  background: var(--orange);
  color: #fff;
}

.products .box__container .box .content h3 {
  color: var(--black);
  font-size: 2.5rem;
}

.products .box__container .box .content .price {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bolder;
  padding: 1rem 0;
}

.products .box__container .box .content .price span {
  color: var(--orange);
  font-size: 1.5rem;
  text-decoration: line-through;
}

.products .box__container .box .content .stars {
  padding-bottom: 1rem;
}

.products .box__container .box .content .stars i {
  font-size: 1.7rem;
  color: var(--orange);
}

/* featured */

.featured .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background: #f9f9f9;
  padding: 2rem;
  align-items: center;
  margin: 1.5rem 0;
}

.featured .row .content {
  flex: 1 1 40rem;
}

.featured .row .image__container {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  flex: 1 1 50rem;
}

.featured .row .image__container .small__image {
  width: 20%;
}

.featured .row .image__container .big__image {
  width: 75%;
  padding: 1rem;
}

.featured .row .image__container .small__image img {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.featured .row .image__container .small__image img:hover {
  background: #ccc;
}

.featured .row .image__container .big__image img {
  width: 100%;
}

.featured .row .image__container .big__image img:hover {
  transform: scale(1.05);
}

.featured .row .content h3 {
  font-size: 2.5rem;
  color: var(--black);
}

.featured .row .content .stars i {
  font-size: 1.7rem;
  color: var(--orange);
  padding: 0.5rem 0;
}

.featured .row .content p {
  font-size: 2.5rem;
  color: #999;
  padding: 1rem 0;
}

.featured .row .content .price {
  font-size: 2.5rem;
  color: var(--black);
  font-weight: bolder;
}

/* review */

.review .box__container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.review .box__container .box {
  flex: 1 1 30rem;
  text-align: center;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 5rem;
  background: #f9f9f9;
  padding: 2rem;
}

.review .box__container .box img {
  border-radius: 50%;
  object-fit: cover;
  width: 15rem;
  height: 15rem;
  margin: 1rem 0;
}

.review .box__container .box h3 {
  font-size: 2.5rem;
  color: var(--black);
}

.review .box__container .box p {
  font-size: 1.6rem;
  color: #666;
  padding: 1rem 0;
}

.review .box__container .box .stars i {
  color: var(--orange);
  font-size: 2rem;

}

/* newsletter */

.newsletter .content {
  text-align: center;
  border: .1rem solid rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
  background:  #f9f9f9;
  padding: 2rem;
}

.newsletter .content h3 {
  font-size: 2.5rem;
  color: var(--black);
}

.newsletter .content p {
  font-size: 1.5rem;
  color: #666;
  margin: 1rem  auto;
  max-width: 60rem;
}

.newsletter .content form {
  margin: 1rem  auto;
  max-width: 60rem;
  display: flex;
}

.newsletter .content form .box {
  width: 100%;
  font-size: 1.7rem;
  text-decoration: none;
  color: #333;
  padding: 1rem;
  border: .2rem solid var(--black);
  border-right: none;
  margin-top: 1rem;
}

.newsletter .content form .btn {
  border-radius: 0;
}

/* footeer */

.footer .box__container {
  border: .1rem solid rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
  background: #f9f9f9;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer .box__container .box {
  flex: 1 1 20rem;
}

.footer .box__container .box h3 {
  color: var(--black);
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
}

.footer .box__container .box a {
  color: #666;
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  display: block;
}

.footer .box__container .box a:hover {
  color: var(--orange);
}


.footer .box__container .credit {
  text-align: center;
  width: 100%;  
  border-top: .1rem solid rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  padding: 1rem;
  padding-top: 2rem;
  color: #999;
}




/* midia */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .menu__bar {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: -120%;
    width: 100%;
    background: #eee;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  }

  .navbar.active {
    left: 0;
  }

  .navbar a {
    font-size: 2rem;
    background: #fff;
    border: 0.1rem solid var(--black);
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 1.5rem;
    display: block;
    text-align: center;
  }
  .text {
    width: 60%;
  }
  .prev,
  .next {
    top: 85%;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 50%;
  }
  .images {
    padding-bottom: 2rem;
  }
  .heading {
    font-size: 3rem;
  }
}
